* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 60px;
}

ul.movie-list {
  margin-top: 50px;
  list-style: none;
}

li.results-item {
  margin-bottom: 20px;
}

ul.item-info {
  list-style: none;
}

img.language-flag {
  width: 30px;
  vertical-align: middle;
}

li.item-vote i {
  color: orange;
}

img.item-img[src=""] {
  display: none;
}
