* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

header.main-header {
  display: flex;
  height: 120px;
  padding: 20px 80px;
}

header.main-header img.logo {
  margin-top: 10px;
  height: 80px;
}

header.main-header .search-bar {
  line-height: 80px;
  margin-left: auto;
}

header.main-header .search-bar input#search {
  height: 40px;
  width: 400px;
  margin-right: 5px;
  padding: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #000;
}

header.main-header .search-bar button#search-btn {
  height: 42px;
  padding: 0 25px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #E50914;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color: #fff;
  vertical-align: middle;
}

main.main-view {
  padding: 60px 80px;
  height: calc(100% - 120px);
  overflow-y: auto;
}

p.no-results {
  margin: 20px 0;
  font-weight: 700;
  color: #fff;
}

ul.movie-list,
ul.tv-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 20px 0;
  list-style: none;
}

ul.tv-list::after,
ul.movie-list::after {
  content:"";
  width: 100%;
  flex: auto;
}

h2.category-header {
  display: none;
  background-color: #E50914;
  padding: 5px 15px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px #000;
  color: #fff;
  border-radius: 3px;
}

li.results-item {
  position: relative;
  width: 350px;
  height: 500px;
  margin-bottom: 40px;
  color: #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 25px #000, 0 0 25px #000, 0 0 25px #000;
}


li.results-item .item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.95);
  opacity: 0;
  transition: opacity 0.3s;
}

li.results-item:hover .item-overlay {
  opacity: 1;
}

ul.item-info {
  height: 100%;
  padding: 40px 20px 20px;
  list-style: none;
  background-size: cover;
  overflow-y: auto;
}

ul.item-info li {
  font-weight: 900;
  margin-top: 10px;
}

ul.item-info span {
  font-weight: 400;
}

ul.item-info h2.item-title {
  margin-bottom: 15px;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
  font-size: 30px;
}

img.language-flag {
  width: 32px;
  vertical-align: middle;
}

li.item-vote i {
  color: orange;
  font-size: 19px;
}

img.item-img[src=""] {
  display: none;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 20px;
}

li.results-item ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E50914;
  border-radius: 10px;
}
