* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

header.main-header {
  display: flex;
  height: 120px;
  padding: 20px 80px;
}

header.main-header img.logo {
  margin-top: 10px;
  height: 80px;
}

header.main-header .search-bar {
  line-height: 80px;
  margin-left: auto;
}

header.main-header .search-bar input#search {
  height: 40px;
  width: 400px;
  margin-right: 5px;
  padding: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #000;
}

header.main-header .search-bar button#search-btn {
  height: 42px;
  padding: 0 25px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #E50914;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color: #fff;
  vertical-align: middle;
}

main.main-view {
  padding: 60px 80px;
  height: calc(100% - 120px);
  overflow-y: auto;
}

.movie-results {
  margin-top: 30px;
}

p.no-results {
  margin-bottom: 20px;
  font-weight: 700;
  color: #fff;
}

ul.movie-list,
ul.tv-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 20px 0;
  list-style: none;
}

ul.movie-list::after {
  content:"";
  width: 100%;
  flex: auto;
}
h2.category-header {
  display: none;
  background-color: #E50914;
  padding: 5px 10px;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  border-radius: 3px;
}

li.results-item {
  width: 350px;
  height: 500px;
  margin-bottom: 40px;
  color: #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

ul.item-info {
  list-style: none;
}

img.language-flag {
  width: 30px;
  vertical-align: middle;
}

li.item-vote i {
  color: orange;
}

img.item-img[src=""] {
  display: none;
}
